@import "../../style/var";
// @import "../../style/general-class";

.about {
  .contener {
    .personal {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      .img {
        width: 33.3%;
        // min-width: 350px;
        flex: 0 0 auto;
        padding: 0 12px;
        img {
          max-width: 100%;
        }
      }
      .content {
        // flex: 0 1 auto;
        padding: 0 12px;
        .mid-header {
          margin-bottom: 20px;
          p {
            color: #fff;
            font-size: 1rem;
            font-weight: 400;
          }
        }
        .flex {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          p {
            width: 50%;

            // margin-top: 20px;
            margin-bottom: 20px;
            @media only screen and (max-width: 900px) {
              min-width: 300px;
            }

            svg {
              color: $primary-color;
              margin-right: 3px;
            }
          }
        }
        .footer {
          margin-bottom: 50px;
        }
      }
    }
    .counters {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;

      div {
        width: 23%;
        min-width: 160px;
        background-color: rgba(255, 255, 255, 0.08);
        text-align: center;
        padding: 20px;
        position: relative;
        margin-bottom: 50px;

        span {
          &:first-of-type {
            display: block;
            font-size: 36px;
          }
          &:last-of-type {
            display: block;
            font-size: 14px;
            font-weight: 200;
          }
        }
        .icon {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          color: $primary-color;
          background-color: #ffffff14;
          position: absolute;
          top: -15px;
          left: 50%;
          transform: translate(-50%);
          box-shadow: 0px 0px 0px 10px #ffffff14;
        }
      }
    }
    .skills {
      // background-color: red;
      // width: 500px;
      // margin-top: 50px;
      .skills-con {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // gap: 1%;
        .left,
        .right {
          width: 48%;
          // min-width: 350px;
          @media screen and (max-width: 700px) {
            width: 100%;
          }

          .skill {
            // flex: 0 0 auto;
            margin: 15px 0;
            .head {
              display: flex;
              justify-content: space-between;
              font-size: 12px;
              font-weight: 600;
            }
            .bar {
              margin-top: 5px;
              // width: 100%;
              height: 8px;
              display: block;
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }
}
