// @import "../../style/general-class";
@import "../../style/var";

.resume {
  .contener {
    & > .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      & > div {
        width: 48%;
        @media screen and (max-width: 900px) {
          width: 100%;
          margin-bottom: 50px;
        }
        .items {
          padding-left: 20px;
          .date {
            background-color: #ffffff26;
            width: fit-content;
            padding: 5px 15px;
          }
          .description {
            line-height: 25px;
            a {
              color: $primary-color;
              margin: 10px;
            }
            p {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}
