@import "../../style/var";

@media screen and (max-width: 800px) {
  .homeMobile {
    display: block;
  }
  // .home .content {
  //   display: none;
  // }
}

.home {
  height: 100vh;
  position: relative;
  .homeMobile {
    display: none;
  }
  .content,
  .homeMobile {
    position: absolute;
    top: 35%;
    left: 140px;
    @media screen and (max-width: 1000px) {
      left: 75px;
    }
    @media screen and (max-width: 800px) {
      width: 95%;
      text-align: center;
      left: 0px;
      top: 40%;
    }
    .name {
      font-size: 2.8125rem;
      color: $white-color;
      font-weight: 600;
      margin-bottom: 15px;
      @media screen and (max-width: 800px) {
        // font-size: 28px;
      }
    }
    .desc {
      color: $white-color2;
      font-size: 1.75rem;
      font-weight: 400;
      @media screen and (max-width: 800px) {
        // font-size: 20px;
      }
    }
  }
}
