@import "../../style/var";

.home {
  height: 100vh;
  // background-size: cover;
  // background-repeat: no-repeat;
  position: relative;
  .content {
    position: absolute;
    top: 35%;
    left: 140px;
    .name {
      font-size: 45px;
      color: $white-color;
      font-weight: 600;
      margin-bottom: 15px;
    }
    h1 {
      color: $white-color2;
      font-size: 28px;
      font-weight: 400;
    }
  }
}
