@import "./var";

.span-line {
  font-size: 0.875rem;
  color: $dark-write-color;
  font-weight: 400;
  letter-spacing: 2px;
  position: relative;
  display: block;
  margin-bottom: 15px;
  &::after {
    content: "";
    position: absolute;
    bottom: 6px;
    margin-left: 10px;
    height: 1px;
    width: 120px;
    background-color: $primary-color;
  }
}
.big-header {
  font-size: 2.125rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: $white-color;
  @media screen and (max-width: 1000px) {
    // font-size: 28px;
    font-weight: 600;
  }
}
.mid-header {
  font-size: 1.625rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: $primary-color;
  @media screen and (max-width: 1000px) {
    // font-size: 24px;
  }
}

.mid-header-circle {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: $primary-color;
  position: relative;
  &::before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $primary-color;
    display: inline-block;
    margin-right: 13px;
    margin-left: -29px;
  }
}
.left-line {
  position: relative;
  &::after {
    content: "";
    left: -2px;
    position: absolute;
    height: 100%;
    top: 7px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
  }
}

.mid-white-header {
  font-size: 1.625rem;
  color: $white-color;
  font-weight: 700;
  margin: 20px 0;
}

.page {
  padding-top: 100px;
  @media screen and(max-width: 1000px) {
    padding-top: 15px;
  }
}

.contener {
  width: calc(100% - 20vw);
  color: #fff;
  margin: auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.7);
}
@media only screen and (max-width: 1350px) {
  .contener {
    width: 90vw;
  }
}

@media only screen and (max-width: 1200px) {
  .contener {
    width: 95vw;
  }
}
@media only screen and (max-width: 1000px) {
  .contener {
    width: 100%;
    padding: 15px;
  }
}

@keyframes test {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, calc(-100% + 60vh));
  }
}

@media only screen and (max-width: 900px) {
  .wrap {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
}
